version: '3.9'
services:
  api:
    build: ./services/api
    env_file:
      - ./env/.env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ssi
      POSTGRES_PASSWORD: ssi
      POSTGRES_DB: ssi
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
volumes:
  dbdata:
